<div class="container">
    <div class="row">
            <div class="thumbnail col-xs-6 col-sm-4 col-md-3 hovereffect" *ngFor="let dto of postListDTO">
              <img class="img-responsive shadow" src={{dto.thumbnail}}/>
                <div class="overlay">
                    <div class="ul-main-list">
                        <ul class="ph-white"  *ngIf="dto.ph">
                            <li>{{dto.ph}}</li>
                        </ul>
                        <ul class="md-white" *ngIf="dto.md">
                            <li>{{dto.md}}</li>
                        </ul>
                    </div>
                    <p>
                        <a [routerLink]="['/yf', dto.id]">Все фотографии</a>
                    </p>
                </div>
            </div>
    </div>
</div>
<div class="container">
    <div class="row pagination-row">
        <nav>
            <ul class="pagination">



                <li>
                    <a *ngIf="page > 1" routerLink="/{{tag}}/{{page-1}}" class="page-link" href="#">
                        <span><img src="/icons/32/left.png"></span>
                    </a>
                </li>
                <li>
                    <a  *ngIf="postsLength >=size" routerLink="/{{tag}}/{{page+1}}" class="page-link">
                        <span aria-hidden="true"><img src="/icons/32/right.png"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>