<div class="container" style="max-width: 500px;">
    <div class="row">

        <h1>About us</h1>

        <p>Young Folks - a platform for photographers, models and people interested in photography and art.</p>
        <p>Despite the fact that the project is closely intertwined with fashion, we have never been interested in this subject. We do not monitor the trends.</p>
        <p> We do not consider yourself to be erotic website, but we don't recommend to visit this website to persons under 18 years old.</p>
        <p>All pictures have been offered by visitors of this site, in connection with the revision can not be held liable for copyright infringement.
            If your copyrights have been violated, please contact us.</p>


        <p>At the moment the site Young Folks running in the test mode.
            Maintenance work, troubleshooting, adding and changing content is a priority at beginning of 2017.</p>

        <h1>Contacts</h1>

        <p>For placement and removal of publications: yf.publisher@youngfolks.ru</p>
        <p>Any other questions: latya@youngfolks.ru</p>

        <h1>Our team</h1>

        <p>Chief Editor:<a href="https://vk.com/latya" target="_blank">Андрей Латя</a> </p>
        <p>Editor, general photoshoots: <a href="https://vk.com/hagrid_niashka" target="_blank">Настасья Хагрид</a></p>
        <p>Editor, the photoshoots of models from the CIS: <a href="https://vk.com/faithlovelust" target="_blank">Валерия Колфилд</a></p>


    </div>
</div>