<div class="container" style="max-width: 500px;">
    <div class="row">

        <h1>О нас</h1>

        <p>Young Folks  - это платформа для фотографов, моделей и людей интересующийся фотографией и искусством.</p>
        <p>Несмотря на то, что проект тесно переплетается с модой, нас никогда не интересовала данная сфера. Мы не следим за показами, мы не следим за трендами сезонов.</p>
        <p> Мы не относим себя к эротике, но мы не рекомендуем посещать данный сайт лицам младше 18 лет.</p>
        <p>Все фотографии были предложены посетителями данного сайта, в связи с этим редакция не несет ответственность за нарушения авторских прав.
            Если Ваши авторские права были нарушены, пожалуйста, свяжитесь с нами.</p>


        <p>На данный момент сайт Young Folks запущен в тестовом режиме.
            Профилактические работы, устранения ошибок, добавление и изменение контента является приоритетом до начала 2017 года.</p>

        <h1>Контакты</h1>

        <p>По вопросам размещения и удаления публикаций: yf.publisher@youngfolks.ru</p>
        <p>Любые другие вопросы: latya@youngfolks.ru</p>

        <h1>Команда</h1>

        <p>Главный редактор: <a href="https://vk.com/latya" target="_blank">Андрей Латя</a> </p>
        <p>Редактор, зарубежные фотосессии: <a href="https://vk.com/hagrid_niashka" target="_blank">Настасья Хагрид</a></p>
        <p>Редактор, фотосессии моделей из СНГ: <a href="https://vk.com/faithlovelust" target="_blank">Валерия Колфилд</a></p>


    </div>
</div>