

<div class="container navtop">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed"  (click)="isCollapsed = !isCollapsed">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--&lt;!&ndash;<a class="navbar-brand" href="#">Project name</a>&ndash;&gt;-->

                <!--<div id="logo"><a class="mdl-navigation__link" [routerLink]="['/']">YF</a></div>-->
            <!--</div>-->
            <div class="navbar-header">
                <div id="logo"><a class="mdl-navigation__link" [routerLink]="['/']">YF</a></div>
                <button type="button" class="navbar-toggle collapsed"  (click)="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<img class="mobile-open-botton" src="./../icons/35/open-eye.png" (click)="isCollapsed = !isCollapsed">-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="mdl-navigation__link" [routerLink]="[native_route]">{{NATIVE}}</a></li>
                    <li><a class="mdl-navigation__link" [routerLink]="[sets_route]">{{SETS}}</a></li>
                    <li><a class="mdl-navigation__link" [routerLink]="[silhouettes_route]">{{SILHOUETTES}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <form id="1" class="light">
                        <input type="text" #searchQuery placeholder={{SEARCH_INQUERY}}>
                        <input type="submit" (click)="search(searchQuery.value)" value={{SEARCH}}>
                    </form>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default login-button" [routerLink]="[login_route]">{{ENTER}}</button>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>






<div (collapsed)="collapsed($event)"
     (expanded)="expanded($event)"
     [collapse]="isCollapsed"
     >

    <div id="openModal" class="modalDialog">
        <a class="close-button" (click)="isCollapsed = !isCollapsed"><img src="./../icons/64/close.png"></a>
        <ul class="nav navbar-nav">
            <li><a class="mdl-navigation__link" [routerLink]="['/']" (click)="isCollapsed = !isCollapsed">{{MAIN_PAGE}}</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="[native_route]" (click)="isCollapsed = !isCollapsed">{{NATIVE}}</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="[sets_route]" (click)="isCollapsed = !isCollapsed">{{SETS}}</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="[silhouettes_route]" (click)="isCollapsed = !isCollapsed">{{SILHOUETTES}}</a></li>
        </ul>

        <!--<form id="2" class="light">-->
            <!--<input type="text" #searchQuery placeholder={{SEARCH_INQUERY}}>-->
            <!--<input type="submit" (click)="search(searchQuery.value)" (click)="isCollapsed = !isCollapsed" value={{SEARCH}}>-->
        <!--</form>-->
        </div>
</div>



<router-outlet></router-outlet>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 column">
                <div id="slogan">{{YF_SLOGAN}}</div>
                <div id="social-buttons">
                    <a class="social vk-social-button" href="https://vk.com/youngfolks" alt="YoungFolks VK" title="YoungFolks VK" target="_blank"></a>
                    <a class="social icon-social-facebook" href="https://www.facebook.com/WeAreYoungFolks/" alt="YoungFolks Facebook" title="YoungFolks Facebook" target="_blank"></a>
                    <a class="social icon-social-instagram" href="https://www.instagram.com/youngfolks_ru" alt="YoungFolks instagram" title="YoungFolks instagram" target="_blank"></a>
                </div>

            </div>
            <!--<div class="col-xs-4 col-sm-4 col-md-4 column">-->
            <!--<h4>Information</h4>-->
            <!--<ul class="nav">-->
            <!--<li><a href="about-us.html">About Us</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-xs-4 col-sm-4 col-md-4 column">-->
            <!--<h4>Information</h4>-->
            <!--<ul class="nav">-->
            <!--<li><a href="about-us.html">About Us</a></li>-->

            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>

</div>