<div class="container" *ngIf="isExist">
    <div class="row margin-bottom-top-10">
        <div *ngIf="postDetailsDTO">
            <ul class="ph"  *ngIf="postDetailsDTO.ph">
                <li>{{postDetailsDTO.ph}}</li>
            </ul>
            <ul class="md" *ngIf="postDetailsDTO.md">
                <li>{{postDetailsDTO.md}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="isExist">
    <div class="row details-list">
       <img class="img-responsive shadow" *ngFor="let photo of postDetailsDTO.photos" src={{photo}}/>
    </div>
</div>

<div class="container" *ngIf="isExist == false">
    <div class="row">

    <div class="center-block">
        <h1 id="search-title">{{WAIT_UNTIL_POST_LOADS}}</h1>
        <img class="img-responsive center-block" src="/icons/512/woman_drink.png">
        <h1 id="search-title">{{WAIT_UNTIL_POST_LOADS_SECOND_ROW}}</h1>

    </div>
</div>
</div>

<sets-new *ngIf="isExist == false"></sets-new>
<native-new *ngIf="isExist == false"></native-new>

<suggested-posts *ngIf="isExist"></suggested-posts>


