    <div class="container">
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<h1 class="header">Топ недели зарубежные модели</h1>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<h1 class="header">Топ недели наши модели</h1>-->
            <!--</div>-->
        <!--</div>-->



    <div class="col-md-6"><sets-top [posts]="posts"></sets-top></div>
    <div class="col-md-6"><native-top [posts]="posts"></native-top></div>
    </div>






    <sets-new [posts]="posts"></sets-new>
    <native-new [posts]="posts"></native-new>

