<div class="container">
    <h1 class="header">{{title}}</h1>
    <div class="row">
            <div class="thumbnail col-xs-6 col-sm-4 col-md-3 hovereffect" *ngFor="let dto of postListDTO">
                <img class="img-responsive shadow" src={{dto.thumbnail}}/>
                <div class="overlay">
                        <div class="ul-main-list">
                        <ul class="ph-white"  *ngIf="dto.ph">
                            <li>{{dto.ph}}</li>
                        </ul>
                        <ul class="md-white" *ngIf="dto.md">
                            <li>{{dto.md}}</li>
                        </ul>
                        </div>
                    <p>
                        <a [routerLink]="['/' + single_route, dto.id]">{{show_all_pics}}</a>
                    </p>
                </div>
            </div>

    </div>
</div>
<div class="container under-button">

<a  *ngIf="isMoreOrShowAll" (click)="loadMore()"> <img src="/icons/64/load-more.png"></a>
<a  *ngIf="isMoreOrShowAll == false" [routerLink]="['/' + route]"><img src="/icons/64/load-more.png"></a>
</div>