<div class="signal" *ngIf="isExist == false"></div>


<div class="container" *ngIf="isExist">
    <div id="open-modal" class="modal-window"
         [collapse]="isCollapsedModal">
        <div>
            <a title={{CLOSE_MODAL}} class="modal-close" (click)="isCollapsedModal = !isCollapsedModal">{{CLOSE_MODAL}} ×</a>
            <h1>{{MODAL_TITLE}}</h1>
            <div>{{MODAL_TEXT}}</div>
            <div><login *ngIf="loginNeeded"></login></div>
        </div>
    </div>


    <div class="right-details-block" (click) = "savePostToDashboard()" *ngIf="!isPostAlreadySaved">
        <div>{{DETAILS_SAVE_POST_IN_DASHBOARD}}</div>
         <img src="../icons/32/photoset.png" onmouseover="this.src='../icons/32/photoset_color.png'" onmouseout="this.src='../icons/32/photoset.png'">
    </div>
    <div class="right-details-block" [routerLink]="['/', user_dashboard_route]" *ngIf="isPostAlreadySaved">
        <div>{{SAVED_POST}}</div>
        <img src="../icons/32/photoset_color.png">
    </div>
    <div class="row margin-bottom-top-10">
        <div *ngIf="postDetailsDTO">
            <ul class="ph"  *ngIf="postDetailsDTO.ph">
                <li>{{postDetailsDTO.ph}}</li>
            </ul>
            <ul class="md" *ngIf="postDetailsDTO.md">
                <li>{{postDetailsDTO.md}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="isExist">
    <div class="row">
        <div class="align-center-block">
        <div class="details-list" *ngFor="let photo of postDetailsDTO.photos" >
            <div class="save-photo-box-text" *ngIf="single_post_text && photo == single_photo_text_img_url">
                <h2 class="text-over large-img-text-over"><span>{{single_post_text}}</span></h2>
            </div>
            <div class="save-photo-box" (click) = "saveSinglePhoto(photo)">
                <img src="./../icons/64/add_photo.png"/>
            </div>
            <img class="main-photo img-responsive shadow" src={{photo}}/>
        </div>
        </div>
    </div>
</div>

<suggested-posts *ngIf="isExist"></suggested-posts>

