<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="header">Топ недели зарубежные модели</h1>
            </div>
            <div class="col-md-6">
                <h1 class="header">Топ недели наши модели</h1>
            </div>
        </div>



    <div class="col-md-6"><sets-top [posts]="posts"></sets-top></div>
    <div class="col-md-6"><native-top [posts]="posts"></native-top></div>
    </div>




    <div class="container">

    <div class="row-main">
        <div class="container">
            <h1 class="header">Новые фотографии зарубежных моделей</h1>
        </div>
    <sets-new [posts]="posts"></sets-new>
        <div class="container">
            <h1 class="header">Новые фотографии наших моделей</h1>
        </div>
    <native-new [posts]="posts"></native-new>
    </div>
    </div>

</div>