    <div class="thumbnail col-xs-6 col-sm-4 col-md-3 hovereffect" *ngFor="let dto of postListDTO">
      <img class="img-responsive shadow" src={{dto.thumbnail}}/>
        <div class="overlay">
            <div class="ul-main-list">
                <ul class="ph-white"  *ngIf="dto.ph">
                    <li>{{dto.ph}}</li>
                </ul>
                <ul class="md-white" *ngIf="dto.md">
                    <li>{{dto.md}}</li>
                </ul>
            </div>
            <p>
                <a [routerLink]="['/yf', dto.id]">Все фотографии</a>
            </p>
        </div>
</div>